@use "sass:math";

.piano {
  display: flex;
  gap: 0.25%;
  height: 12rem;
  margin-bottom: 1rem;
}

.octave {
  flex: 1 1 0;
  position: relative;
  display: flex;
}

.whiteKeysWrapper {
  display: flex;
  gap: 0.5%;
  flex: 1 1 0;
  width: 0;
  min-width: 0;
}

.blackKeysWrapper {
  position: absolute;
  width: 100%;
  height: 50%;
}

.whiteKey {
  flex: 1 1 0;
  background: linear-gradient(#ececec, #ffffff);
  border-radius: 0 0 5px 5px;
  border: 1px solid black;
}

$blackKeyWidth: 10%;
$whiteKeyWidth: math.div(100%, 7);

.blackKey {
  position: absolute;
  width: $blackKeyWidth;
  height: 100%;
  flex: 1 1 0;
  background: linear-gradient(#585858, #000000);
  border-radius: 0 0 5px 5px;
  z-index: 1;
}

@for $i from 1 through 2 {
  .blackKey:nth-child(#{$i}) {
    left: calc($whiteKeyWidth * $i - $blackKeyWidth / 2);
  }
}

@for $i from 3 through 6 {
  .blackKey:nth-child(#{$i}) {
    left: calc($whiteKeyWidth * ($i + 1) - $blackKeyWidth / 2);
  }
}

.whiteKey,
.blackKey {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.dot {
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  background: #000000;
  margin-bottom: 0.7rem;
}

.blackKey .dot {
  background: #ffffff;
}
