.piano {
    display: flex;
    flex-direction: row;
}

.octave {
    flex: 1 1;
    display: flex;
    flex-direction: row;
}

/* .octave:not(:last-child) .whiteKey{
    border
} */

.whiteKey {
    flex: 1 1;
    height: 200px;
    background: linear-gradient(#f1f1f1, #ffffff);
    display: flex;
    flex-direction: column;
    border-radius: 0 0 5px 5px;
    margin-right: 2px;
    border: 1px solid black;
}

.blackKey {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 75%;
    z-index: 2;
    height: 50%;
    background: linear-gradient(#585858, #000000);
    border-radius: 0 0 5px 5px;
    margin-top: -1px;
    border-top: 1px solid black;
}

.keyHighlighter {
    text-align: center;
    margin-top: auto;
    margin-bottom: 10%;
    font-size: 1.5rem;
}

.keyHighlighter::before {
    content: ' \25CF';
}

.whiteKey .keyHighlighter {
    color: black;
}

.blackKey .keyHighlighter {
    color: white;
}
