/* TODO: rewrite with sass */

.piano {
    display: flex;
    height: 20vh;
}

.octave {
    display: flex;
    flex-grow: 1;
}

.whiteKey {
    /* to position keyHighlighter at the bottom  */
    position: relative;

    flex-grow: 1;
    background: linear-gradient(#f1f1f1, #ffffff);
    border-radius: 0 0 5px 5px;
    margin-right: 2px;
    border: 1px solid black;
}

.blackKey {
    /* to position keyHighlighter at the bottom  */
    position: relative;

    width: 80%;
    left: 60%;
    height: 50%;
    z-index: 1;
    background: linear-gradient(#585858, #000000);
    border-radius: 0 0 5px 5px;

    /* to compensate whiteKey border */
    margin-top: -1px;
}

.keyHighlighter {
    position: absolute;
    width: 30%;
    left: 35%;
    bottom: 5%;
    background: #000000;

    /* to make same height as width */
    height: 0;
    padding-bottom: 30%;

    border-radius: 50%;
}

.blackKey .keyHighlighter {
    background: #ffffff;
}
